body,html{
    background-color: black;
    /* width: 100%; */
      margin-left:0%;
      /* margin-right:1%; */
      margin-bottom:1%;
      margin-top:1%;
      font-family: "Urbanist", sans-serif;
      }

#nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8e44ad;
    position: fixed;
    top: 0;
    /* margin-right: 12rem; */
    width: 100%;
    font-family: "Urbanist", sans-serif;
    
}

#nav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
#nav ul a:hover{
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    text-shadow: 3px 3px 3px #2b0c3185;
}
.img{
  height: 10rem;
}
